<h4>Record a conversation</h4>

<%= form_for @convo, url: conversations_path do |f| %>
  <%= f.label :medium %>
  <%= f.text_field :medium %>
  <%= f.label :notes %>
  <%= f.text_area :notes %>
  <%= f.label :follow_up_on %>
  <%= f.date_field :follow_up_on %>

<% end %>
