<h2>Here are the companies</h2>

<% @companies.each do |company| %>
<p>
  <%= company.name %> |
  <%= link_to "Edit", edit_company_path(company.id) %>
  <%= link_to "Delete", company_path(company.id), method: :delete %>
</p>
<% end %>

<%= link_to "Add Company", new_company_path %>

<%=  paginate @companies %>
